@use "./base.scss";

// put your custom CSS here!
  /**-------------------**
  | STRONG/BOLD STYLES
  **--------------------**/
  
  .cm-strong {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    color: #7aa2f7;
    background-color: #7aa2f7;
    background-image: linear-gradient(62deg, #87c2fd 0%, #dcb9fc 100%) !important;
  }
  
  strong {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    color: #7aa2f7;
    background-color: #7aa2f7;
    background-image: linear-gradient(62deg, #87c2fd 0%, #dcb9fc 100%) !important;
  
    .math.math-inline .MathJax {
      position: inherit !important;
    }
  }
  
  .cm-strong .cm-selection, strong::selection {
    -webkit-text-fill-color: var(--text-faint);
  }
  
  /**-------------------**
  | ITALIC STYLES
  **--------------------**/
  
  .cm-em, em {
    color: #bb9af7 !important;
    font-family: OperatorMonoSSmLig-Book, Rubik, var(--default-font) !important;
  }
  
  .cm-em.cm-formatting-em {
    display: inline-flex;
    width: 0.45rem;
    font-size: 0.6rem;
    vertical-align: text-top;
  }

  /**-------------------**
  | MISC
  **--------------------**/

  .text-highlight {
    background-color: rgba(14, 210, 247, 0.5);
    padding: 0 0.1rem;
    border-radius: 5px;
  }

  /**-------------------**
  | CODE STYLING
  **--------------------**/
  
  /** inline code */
  
  .markdown-preview-view code {
    overflow-wrap: break-word;
    background-color: rgba(14, 210, 247, 0.05);
    word-wrap: break-word;
    padding: 0 5px;
    border-radius: 0.3rem;
    color: rgba(14, 210, 247, 0.9) !important;
  }
  
  .theme-dark {
    :not(pre) > code[class*='language-'], pre[class*='language-'] {
      background-color: var(--background-secondary);
    }
  }
  
  .markdown-preview-view img {
    border-radius: 8px;
  }
  
  /** code syntax theme **/
  
  .theme-dark .cm-s-obsidian pre.HyperMD-codeblock span {
    &.cm-comment {
      color: #6272a4;
    }
  
    &.cm-string, &.cm-string-2 {
      color: #f1fa8c;
    }
  
    &.cm-number {
      color: #bd93f9;
    }
  
    &.cm-variable {
      color: #50fa7b;
    }
  
    &.cm-variable-2 {
      color: white;
    }
  
    &.cm-def {
      color: #50fa7b;
    }
  
    &.cm-operator, &.cm-keyword {
      color: #ff79c6;
    }
  
    &.cm-atom {
      color: #bd93f9;
    }
  
    &.cm-meta {
      color: #f8f8f2;
    }
  
    &.cm-tag {
      color: #ff79c6;
    }
  
    &.cm-attribute, &.cm-qualifier {
      color: #50fa7b;
    }
  
    &.cm-property {
      color: #66d9ef;
    }
  
    &.cm-builtin {
      color: #50fa7b;
    }
  
    &.cm-variable-3, &.cm-type {
      color: #ffb86c;
    }
  }
  
